/************************************************************
   Global configuration of colors
 ************************************************************

 *-----------------------------------------------------------
   Background color and text
 *-----------------------------------------------------------
   --bg-color
   --bg-color-text

 * A variant of background color used for text-areas, input fields and dropdown-menus
   --bg-color-light
   --bg-color-light-text

 * Lighter text color used for games and move ordinal numbers
   --bg-color-text-light

 * Colors when hovering move or game elements for selection
   --bg-color-hover
   --bg-color-hover-text

 * Color of active (selected) game and move
   --bg-color-active

 *------------------------------------------------------------
   Main color (for buttons, background of player names and more)
 *------------------------------------------------------------
   --main-color-bg
   --main-color-text

 * Color when hovering main-color elements
   --main-color-hover

 *------------------------------------------------------------
   Chess board colors
 *------------------------------------------------------------
   --white-square
   --black-square
   --highlight-white-sq
   --highlight-black-sq
 */

/* Light theme example preset */
:root {
    --bg-color: #eee;
    --bg-color-text: #111;
    --bg-color-light: #ddd;
    --bg-color-light-text: #111;
    --bg-color-text-light: #888;
    --bg-color-hover: #27c;
    --bg-color-hover-text: #eee;
    --bg-color-active: #cde;
    --main-color-bg: #ddd;
    --main-color-text: #000;
    --main-color-hover: #cccf;
    --main-color-border: #bbb;
    --white-square: #f0d9b5;
    --black-square: #b58863;
    --highlight-white-sq: #cdd26a;
    --highlight-black-sq: #aaa23a;
    --bg-active-clock: #27c;
}

/* Dark theme example preset */
[data-theme="alternative"] {
    --bg-color: #111;
    --bg-color-text: #eee;
    --bg-color-light: #333;
    --bg-color-light-text: #eee;
    --bg-color-text-light: #888;
    --bg-color-hover: #3692e7;
    --bg-color-hover-text: #eee;
    --bg-color-active: #293a49;
    --main-color-bg: #444;
    --main-color-text: #eee;
    --main-color-hover: #333f;
    --main-color-border: #222;
    --white-square: #f0d9b5;
    --black-square: #b58863;
    --highlight-white-sq: #cdd26a;
    --highlight-black-sq: #aaa23a;
    --bg-active-clock: #3692e7;
}

/************************************************************
   General
 ************************************************************/
.h-65 {
    height: 65%;
}

body {
    background-color: var(--bg-color);
    color: var(--bg-clor-text);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

#TournamentInfoItem h3 {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem;
}

#TournamentInfoItem img {
    height: 100px;
    padding: .5rem;
}

#HyperlinksItem {
    background-color: var(--main-color-bg);
}

#HyperlinksItem .badge-custom, #HyperlinksItem .btn-custom,
#TranslateItem button {
    border-bottom: 0;
    padding: 0;
}

#TranslateItem > button > i {
    font-size: 1.75rem;
}

input::placeholder {
    color: var(--bg-color-light-text);
}

/* In order to remove flashing (transition) at startup time */
.btn, .custom-select {
    transition: none;
}

/* Normal colors */
#TournamentInfoItem, #TranslateItem, .badge-custom, .badge-custom[href]:focus,
.btn-custom, .btn-custom:hover:focus /* mobile phone variant */ {
    background-color: var(--main-color-bg);
    color: var(--main-color-text);
}

/* Border for custom buttons */
.badge-custom, .btn-custom {
    border-bottom: 2.5px solid var(--main-color-border);
    width: 100%;
}

/* Hover colors */
.badge-custom[href]:hover, .btn-custom:hover {
    background-color: var(--main-color-hover);
    color: var(--main-color-text)
}

/* Inverted colors */
.badge-custom:not(:disabled):not(.disabled):active,
.btn-custom:not(:disabled):not(.disabled):active,
.show>.btn-custom.dropdown-toggle {
    background-color: var(--main-color-text);
    color: var(--main-color-bg);
    border-color: transparent;
}

.btn-custom:not(:disabled):not(.disabled):active:focus,
.show>.btn-custom.dropdown-toggle:focus {
    box-shadow: none;
    border-color: transparent;
}

.btn-custom:focus {
    box-shadow: none;
}

a {
    color: inherit;
}

.dropdown-menu {
    background-color: var(--main-color-border);
    color: var(--bg-color-light-text);
    border: .1em solid var(--bg-color-light-text);
    font-size: 1.2rem;
}

.dropdown-menu > .dropdown-item:hover {
    background-color: var(--bg-color);
    color: var(--bg-color-light-text);
}

.dropdown-item:active {
    background-color: var(--bg-color-light);;
}

.dropdown-item {
    color: var(--bg-color-light-text);
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0;
}

.dropdown-item > i {
    font-size: 22px;
    vertical-align: middle;
}

.dropdownItemBtn {
    height: 100%;
    width: 30px;
    padding: 0;
    font-size: 12px;
}

#AutoplayDelaySpan, #BoardSizeSpan {
    width: 2em;
}

textarea, input {
    background-color: var(--bg-color-light);
    color: var(--bg-color-light-text);
    font-family: monospace;
    font-size: 14px;
    border: 0;
    border-radius: .25rem;
}

textarea:focus, input:focus {
    outline: none;
    border: 0;
}

textarea::-webkit-resizer {
    border-width: 8px;
    border-style: solid;
    border-color: var(--bg-color-light) var(--main-color-bg) var(--main-color-bg) var(--bg-color-light);
}

.h-40p {
    height: 40px;
}

.beta {
    font-size: 85%;
    color: gray;
}

.fa-caret-down, .fa-search {
    color: var(--bg-color-text);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color-bg);
}

.close, .close:not(:disabled):not(.disabled):focus {
    color: var(--bg-color-text);
    border-radius: .25rem;
}

.close:hover, .close:not(:disabled):not(.disabled):hover {
    background-color: var(--main-color-hover);
    color: var(--bg-color-text);
}

.close:focus {
    outline: none;
}

.modal-content {
    background-color: var(--bg-color);
    color: var(--bg-color-text);
}

/* PGN text styles */
.highlightMove {
    background-color: var(--bg-color-active);
}

#GameText, #EngineVariationDiv {
    overflow-y: auto;
    font-family: "pgn4web ChessSansPiratf";
    font-size: 18px;
}

#GameSelectionDiv {
    text-align: left;
    overflow-y: auto;
}

/* Results on the right side of the game selection div */
#GameSelectionDiv > div > h6 ~ span {
    color: var(--bg-color-text);
    font-size: 0.9em;
    font-weight: 500;
}

#GameSelectionDiv > div, #GameText > span {
    background-color: var(--bg-color);
    color: var(--bg-color-text);
}

#GameSelectionDiv > div > span, span.move.notranslate {
    color: var(--bg-color-text-light);
    font-size: 90%;
}

#GameSideToMove, #GameResult {
    display: none;
}

#GameText a.move {
    padding: 2px 5px;
    white-space: nowrap;
}

#GameText a.move:hover {
    background-color: var(--bg-color-hover);
    color: var(--bg-color-hover-text);
}

#GameText.lineFormNotation a.move {
    text-align: left;
    display: inline-block;
    width: 35%;
    margin-left: 3px;
}

#GameText.lineFormNotation span.move {
    text-align: center;
    display: inline-block;
    width: 20%;
    padding: 2px 0px;
}

#GameText.lineFormNotation .variation:nth-of-type(3n) {
    display: block;
}

#EngineEvalDiv {
    height: 48px;
    background-color: var(--main-color-bg);
    color: var(--main-color-text);
    border-radius: .25rem .25rem 0 0;
}

#EngineVariationDiv {
    background-color: var(--bg-color-light);
    color: var(--bg-color-light-text);
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    display: none;
}

/* Game board styles */
#GameBoard {
    user-select: none;
}

.whiteSquare {
    background-color: var(--white-square);
}

.blackSquare {
    background-color: var(--black-square);
}

.highlightWhiteSquare {
    background-color: var(--highlight-white-sq);
}

.highlightBlackSquare {
    background-color: var(--highlight-black-sq);
}

.playerName, .result, .rating {
    font-size: calc(15px + 2 * ((100vw - 320px) / 800));
}

.playerName, .result {
    font-weight: 700;
}

.result {
    border-right: 1px solid var(--main-color-text);
}

.clock {
    font-size: calc(14px + 2 * ((100vw - 320px) / 700));
}

.clockActive {
    background-color: var(--bg-active-clock);
}

#ClockPlace1 {
    border-radius: 0 .25rem 0 0;
}

#ClockPlace2 {
    border-radius: 0 0 .25rem 0;
}

#TopPlayerItem, #BotPlayerItem {
    background-color: var(--main-color-bg);
    color: var(--main-color-text);
    border-radius: .25rem;
    align-items: center;
}

#TopPlayerItem {
    border-radius: .25rem .25rem 0 0;
}

#BotPlayerItem {
    border-radius: 0 0 .25rem .25rem;
}

#GameWhite, #GameBlack, #GameWhiteClock, #GameBlackClock {
    white-space: nowrap;
}

.fi-fide {
    background-image: url(images/FID.svg);
}

#TopPlayerItem > span, #BotPlayerItem > span{
    display: flex;
}

#PlayerPlace1, #PlayerPlace2 {
    display: flex;
    overflow: hidden;
}

#GameBlack, #GameWhite {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Game selection styles*/
#GameSelSelect {
    width: 100% !important;
}

.custom-select {
    background-color:  var(--main-color-bg);
    background-image: none;
    color: var(--main-color-text);
    border: 0px;
}

.custom-select:focus {
    border-color:  var(--main-color-bg);
    color: var(--main-color-text);
}

#GameSelectionDiv span {
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

#GameSelectionDiv h6 {
    display: inline;
}

#GameSelectionDiv > div {
    display: flex;
    align-items: center;
}

#GameSelectionDiv > div:hover:not(.active) {
    background-color: var(--bg-color-hover);
    color: var(--bg-color-hover-text);
}

#GameSelectionDiv > div.active {
    background-color: var(--bg-color-active);
}

#SearchInput, #MultiboardSearchInput {
    height: 2em;
}

.dropdown-toggle > i, #DownloadModalBtn > i, .fa-list-ul {
    font-size: 22px;
    vertical-align: middle;
}

#DownloadModalBtn {
    width: 100%;
}

/* Snackbar styles */
#Snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--main-color-text);
    color: var(--main-color-bg);
    text-align: center;
    border-radius: .25rem;
    padding: 16px;
    position: fixed;
    z-index: 2000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}

#Snackbar.show {
    visibility: visible;
}

/* Miniboard styles */
iframe {
    border: 0;
}

#Miniboard {
    background-color: var(--main-color-bg);
    color: var(--main-color-text);
    border-radius: .25rem;
}

.resultTile {
    border-right: 1px solid var(--main-color-text);
}

.playerNameTile {
    font-weight: 600;
    padding: 0px 0px 0px 6px;
    overflow: hidden;
}

.clockTile {
    padding: 0px 2px 0px 0px;
    overflow: hidden;
}

#BlackInfo, #WhiteInfo {
    padding: 4px 0px;
}

#GamesSelectionContainer{
    max-height: 450px;
    overflow-y: scroll;
}

#ControlPanel {
    border-top: 0;
}

.controlPanelBtn {
    width: 20%;
    border: 0;
    border-radius: 0;
}

.controlPanelBtn:focus {
    outline: none;
}

/* Embedded video styles */
#VideoDivLeft iframe, #VideoDivRight iframe {
    width: 100%;
    height: 100%;
    border-radius: .25rem;
}
#ImageDivLeft img, #ImageDivRight img {
    max-width: 100%;
    max-height: inherit;
    border-radius: .25rem;
}

#EngineToggleIcon {
    font-size: 30px;
    vertical-align: middle;
}

#EngineToggleIcon:hover {
    filter: drop-shadow(0px 0px 3px var(--main-color-text));
}

/************************************************************
   CSS Grid - Header, view and footer
************************************************************/
#TournamentInfoItem {
    grid-area: info;
}

#TranslateItem {
    grid-area: translate;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-right: 1rem;
}

#TranslateItem h5 {
    display: none;
}

#HyperlinksItem {
    grid-area: links;
    margin: 0;
}

#MainBody {
    --spacing: 1em;
    display: grid;
    grid-template-columns:
        auto
        80px;
    grid-template-rows:
        max-content
        var(--spacing)
        auto
        auto
        var(--spacing)
        auto;
    grid-template-areas:
        "info  translate"
        ".     .        "
        "sbv   sbv      "
        "mbv   mbv      "
        ".     .        "
        "links links    ";
}

@media (max-width: 799px) {
    #TranslateItem {
        display: inline;
        padding: 0;
    }

    #TranslateItem h5 {
        display: inline;
    }

    #TranslateItem .dropdown-menu {
        min-width: 98%;
        text-align: center;
    }

    #MainBody {
        grid-template-columns: auto;
        grid-template-rows:
            max-content
            var(--spacing)
            auto
            auto
            var(--spacing)
            auto
            auto;
        grid-template-areas:
            "info     "
            ".        "
            "sbv      "
            "mbv      "
            ".        "
            "links    "
            "translate";
    }
}

/************************************************************
   CSS Grid - Single board view
************************************************************/
#VideoDivLeft {
    grid-area: video-l;
}

#VideoDivRight {
    grid-area: video-r;
}

#ImageDivLeft {
    grid-area: image-l;
}

#ImageDivRight {
    grid-area: image-r;
}

#PgnSelectionDiv {
    grid-area: round-select;
}

#PlayerSearchDiv {
    grid-area: game-search;
}

#GameSelectionDiv {
    grid-area: game-select;
}

#GameTextDiv {
    grid-area: game-text;
}

#ControlsItem {
    grid-area: controls;
}

#SettingsItem {
    grid-area: settings;
}

#RightPanel {
    grid-area: right;
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
        "video-r"
        "image-r"
        "game-text"
        "controls"
        "settings";
}

#ControlsItem button, #SettingsItem button, #TranslateItem button {
    height: 42px;
}

#ControlsItem {
    margin-bottom: 8px;
}

#LeftPanel {
    grid-area: left;
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
        "video-l"
        "image-l"
        "round-select"
        "game-search"
        "game-select";
}

#BoardItem {
    grid-area: board;
    /* First part of the hack to maintain 1:1 aspect ratio for the board element */
    position: relative;
    padding-top: 100%;
}

#SingleBoardView #boardTable {
    /* Second part of the hack to maintain 1:1 aspect ratio for the board element */
    position: absolute;

    /* Center the board horizontally */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* Adjust the width and height at pgn4web.js startup time (when opening PGN from URL params) */
    width: 100%;
    height: 100%;
}

#TopPlayerItem {
    grid-area: topname;
}

#BotPlayerItem {
    grid-area: botname;
}

#SingleBoardView {
    grid-area: sbv;
    display: grid;
    --player-names: 34px;
    grid-template-columns:
        minmax(350px, 45vw)
        minmax(16px, 1.25vw)
        minmax(min(60vw, 60vh), min(80vw, 80vh))
        minmax(350px, 45vw);
    grid-template-rows:
        var(--player-names)
        min-content
        var(--player-names);
    grid-template-areas:
        "left  .    topname  right"
        "left  bar  board    right"
        "left  .    botname  right";
    justify-content: center;
}

#EvaluationBarContainer {
    position: relative;
    background-color: #000;
    border: 1px solid var(--main-color-bg);
    grid-area: bar;
}

#EvaluationBarContainer tick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #eb4;
}

#EvaluationBarContainer tick.zero {
    top: 1px;
    border-bottom: 2px solid #a00;
}

#EvaluationBar {
    background-color: #fff;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    transition: height 1s;
}

@media (min-width: 800px) and (max-width: 1259px) {
    #SingleBoardView {
        grid-template-columns:
            minmax(12px, 1.5vw)
            minmax(min(60vw, 60vh), min(80vw, 80vh))
            minmax(25vw, 45vw);
        grid-template-areas:
            ".     topname  right"
            "bar   board    right"
            ".     botname  right"
            "left  left     left";
    }

    #LeftPanel {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #ControlsItem button, #SettingsItem button {
        height: 40px;
        padding: 6px;
    }
}

@media (max-width: 799px) {
    #RightPanel {
        grid-area: right;
        display: grid;
        grid-template-rows: repeat(5, min-content);
        grid-template-areas:
            "controls"
            "settings"
            "game-text"
            "video-r"
            "image-r";
    }

    #SingleBoardView {
        grid-template-columns:
            minmax(8px, 3vw)
            minmax(min(60vw, 60vh), min(100vw, 80vh));
        grid-template-areas:
            ".      topname"
            "bar    board"
            ".      botname"
            "right  right"
            "left   left";
    }

    #ControlsItem {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    #SettingsItem {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    #LeftPanel {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #ControlsItem > button, #SettingsItem > button {
        height: 50px;
        padding: 9px;
    }
}

/************************************************************
   CSS Grid - Multiple boards views
 ************************************************************/
#IframesContainer {
    grid-area: iframes;
}

#MultiboardSettingsItem {
    grid-area: mbSettings;
}

#MultiBoardView {
    grid-area: mbv;
    display: grid;
    --main-margin: 1vw;
    grid-template-columns: var(--main-margin) auto var(--main-margin);
    grid-template-rows: auto;
    grid-template-areas:
        ". iframes ."
        ". mbSettings .";
    row-gap: 1rem;
    justify-content: center;
}

@media (max-width: 799px) {
    #MultiboardSettingsItem button, #MultiboardSettingsItem select {
        height: 50px;
        padding: 9px;
    }
}

#MultiboardSearchInput {
    text-align: center;
}

